<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello user!!</title>
    <style>
        body {
            background: linear-gradient(to right, #d8f7f5, #61f09d);
            font-family: 'Open Sans', sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            margin: 0;
            
        }
        a{
            align-items: center;
        }
    </style>
</head>
<body>  
    <h1>hello {{ user }}</h1>
    <a class="nav-item nav-link" href="{% url 'logoutformpage' %}">LOGOUT</a>
</body>
</html>